<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Цитаты</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .blue-text {
            color: blue;
        }
    </style>
</head>

<body>
<div class="container mt-5">
    <h3 class="text-center mb-4" style="color: blue;">Случайные цитаты</h3>
    <form method="post" class="form-inline justify-content-center mb-4">
        <button type="submit" class="btn btn-primary mb-2">Прочесть мудрость</button>
    </form>

    <div class="result text-center">
        {% if content %}
        <h5 class="blue-text">Мудрость:</h5><br>
        <p>{{ content }}</p>
        {% endif %}
        {% if author %}
        <h5>{{ author }}</h5>
        {% endif %}
        {% if translated_content %}
        <br>
        <p>{{ translated_content }}</p>
        {% endif %}
        {% if translated_author %}
        <h5>{{ translated_author }}</h5>
        {% endif %}
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

</body>